<div id="header">
    <div class="row-1">
        <div class="slide">
        <img src="__PUBLIC__/Common/Image/slide.jpg" alt="" />
        </div>
    </div>
    <div class="row-2">
        <div class="container">
            <!-- .nav -->
            <ul class="nav">
                <li class="first"><a href="__APP__/Home/Index/index" class="current">网站首页</a></li>
                <li><a href="__APP__/Home/College/college">学院简介</a></li>
                <li><a href="__APP__/Home/Article/articleList">公告公示</a></li>
                <li><a href="__APP__/Home/Position/positionCenter">招聘中心</a></li>
                <li><a href="__APP__/Home/Person/personCenter">会员中心</a></li>
            </ul>
            <!-- /.nav -->
        </div>
    </div>
</div>