<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__PUBLIC__/Common/Css/Head&Foot.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- header -->
<include file="./Application/Department/View/Head.html"/>
<!-- content -->
<div class="container" style="width: 980px;padding: 0">
    <div class="panel panel-info">
        <div class="panel-heading">
            审核管理
        </div>
        <div class="panel-body" style="margin: 0;padding-top: 5px;padding-bottom: 5px">
            <p>显示的是等待您审核的事项！</p>
        </div>
        <table class="table">
            <tr>
                <th>序号</th>
                <th>时间</th>
                <th>所属招聘</th>
                <th>人员</th>
                <th>操作</th>
            </tr>
            <volist name="firstChecks" id="first">
                <tr>
                    <td>{$first.FC_id}</td>
                    <td>{$first.FC_time}</td>
                    <td>{$first.AR_title}</td>
                    <td>{$first.US_name}</td>
                    <td>
                        <a type="button" class="btn btn-primary"  href="__APP__/Department/Verify/detailInfo?id={$first.FC_id}">详情</a>
                    </td>
                </tr>
            </volist>
        </table>

        <div class="panel-footer">
            <ul class="pager" style="margin: 0">
                <li><a href="#">上一页</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- footer -->
<include file="./Application/Department/View/Foot.html"/>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>