<div id="header">
    <div class="row-1">
        <div class="slide">
        <img src="__PUBLIC__/Common/Image/slide.jpg" alt="" />
        </div>
    </div>
    <div class="row-2">
        <div class="container">
            <!-- .nav -->
            <ul class="nav">
                <!--<li class="first"><a href="" class="current">后台首页</a></li>-->
                <li class="first"><a href="__APP__/Admin/Content/index">内容管理</a></li>
                <li><a href="__APP__/Admin/Verify/index">审核管理</a></li>
                <li><a href="__APP__/Admin/Person/index">会员管理</a></li>
                <li><a href="__APP__/Admin/User/index">个人中心</a></li>
            </ul>
            <!-- /.nav -->
        </div>
    </div>
</div>